%h1 Administrator: Content Manager
%ul
  %li
    = link_to "About", content_abouts_path
  %li
    = link_to "News & Updates", content_announcements_path
  %li
    = link_to "Competitions", content_competitions_path
  %li
    = link_to "Partners", content_partners_path
  %li
    = link_to "Schedules", content_schedules_path
  %li
    = link_to "Sponsors", content_sponsors_path
  %li
    = link_to "Media Archives", content_archives_path