= render partial: 'shared/content_header'
.content
  .right_space
    .announcement_title
      = image_tag('main_title_news_and_updates.jpg')
    .announcement_list
      = render partial: 'menu'
  .left_space
    .title
      = @content_announcement.title if @content_announcement.present?
    .context
      =raw @content_announcement.content if @content_announcement.present?
= render partial: 'shared/footer'