.head
  .top_banner
    .text_space 
      = render partial: 'shared/navigation'
    .wide_banner
.content
  .right_space
    .announcement_title
      = image_tag('menu_title_competitions.jpg')
    .announcement_list
      = render partial: 'menu'
  .left_space
    .title
      = @content_competition.title if @content_competition.present?
    .context
      =raw @content_competition.content if @content_competition.present?
= render partial: 'shared/footer'