= render partial: 'shared/content_header'
.content
  .right_space
    .announcement_title
      = image_tag('menu_title_competitions.jpg')
    .announcement_list
      = render partial: 'menu'
  .left_space
    .title
      = @content_competition.title.gsub('_','').gsub('-','').strip if @content_competition.present?
    .context
      =raw @content_competition.content if @content_competition.present?
= render partial: 'shared/footer'