= render partial: 'shared/content_header'
.content
  .right_space
    .announcement_title
      = image_tag('menu_title_schedules.jpg')
    .announcement_list
      = render partial: 'menu'
  .left_space
    .title
      = @content_schedule.title if @content_schedule.present?
    .context
      =raw @content_schedule.content if @content_schedule.present?
= render partial: 'shared/footer'