.foot#footer
  .foot_left
    .link
      = link_to "Click here to visit our Facebook fan page", "http://www.facebook.com/TheNationalFoodShowdown", target: '_blank'
    %iframe{:src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fthenationalfoodshowdown&amp;layout=standard&amp;show_faces=true&amp;width=430&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=80", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:430px; height:80px;", :allowTransparency => "true"}
  .foot_right
    .title
      = link_to "Contact Us", "#footer", class: 'menu_contact_us'
    = "Please contact the Secretariat in Manila for inquiries: Leah or Marie"
    %br/
    = "Telephone: (02) 411-1467 / 411-1434 / 415-2272, local 2334 or 2331"
    %br/
    = "Telefax: (02) 411-1564;"
    = "Email:"
    = link_to "foodshowdown@abs-cbn.com", "mailto:foodshowdown@abs-cbn.com"
.copyright
  = "Copyright © 2012 TV Food Chefs. All rights reserved."
#dimmer