.head_navigation
  = link_to "HOME", {controller: 'home'}, class: "#{'active' if params[:controller] == 'home'}"
  = link_to "ABOUT", {controller: 'about'}, class: "#{'active' if params[:controller] == 'about'}"
  = link_to "COMPETITIONS", {controller: 'competitions'}, class: "#{'active' if params[:controller] == 'competitions'}"
  = link_to "GALLERY", {controller: 'gallery'}
  = link_to "PARTNERS", {controller: 'partners'}, class: "#{'active' if params[:controller] == 'partners'}"
  = link_to "ARCHIVES", {controller: 'archives'}, class: "#{'active' if params[:controller] == 'archives'}"
  = link_to "CONTACT US", {controller: 'contactus'}