.title
  = "Regional Food Showdowns"
.locations 
  .location_wide
    = image_tag('rfs_luzon_s.jpg')
    .location_title
      = "HRT Week"
    .location_name
      = "Hotel and Restaurant Association of Baguio (HRAB)"
    .location_date
      = ""
  .location_wide
    = image_tag('rfs_visayas_s.jpg')
    .location_title
      = "Cebu Goes Culinary"
    .location_name
      = "Where flavors meet fun"
    .location_date
      = ""
  .location_wide
    = image_tag('rfs_mindanao_s.jpg')
    .location_title
      = "KUMBIRA"
    .location_name
      = "Cagayan de Oro Hotel and Restaurant Association (COHARA)"
    .location_date
      = ""