.head
  .top_banner
    .text_space
      .text_banner
        = "Let the real SHOWDOWN begin!"
      .sub_text_banner
        .subleft
          = "September 21-22, 2012"
        .subright
          = "World Trade Center, Metro Manila"    
      = render partial: 'shared/navigation'
    .wide_banner
.content
  .left_space
    .title
      = "Regional Food Showdowns"
    .locations 
      .location
        = "LUZON"
      .location
        = "VISAYAS"
      .location
        = "MINDANAO" 
    .title
      = "Regional Chef Wars"
    .locations 
      .location
        = "NCR"
      .location
        = "LUZON"
      .location
        = "VISAYAS"
      .location
        = "MINDANAO"      
  .right_space
    .announcement_title
      = image_tag('main_announcement_title.jpg')
    .announcement_list
      .announcement
        = link_to "Announcement", controller: 'home'
      .announcement
        = link_to "Announcement", controller: 'home'
      .announcement
        = link_to "Announcement", controller: 'home'
      .announcement
        = link_to "Announcement", controller: 'home'
.home_gallery
  .piclinks
    .piclink
      = image_tag('piclink_about.png')
    .piclink
      = image_tag('piclink_competitions.png')
    .piclink
      = image_tag('piclink_about.png')
= render partial: 'shared/footer'
