= render partial: 'shared/content_header'
.content
  .right_space
    .announcement_title
      = image_tag('menu_title_sponsors.jpg')
    .announcement_list
      = render partial: 'menu'
  .left_space
    .title
      = @content_archive.title if @content_archive.present?
    .context
      =raw @content_archive.content if @content_archive.present?
= render partial: 'shared/footer'