%center
  %div.image_large
    = image_tag('logo/2012logo.jpg')
  %div.image_large
    = image_tag('logo/2011logo.jpg')
  %div.image_large
    = image_tag('logo/2010logo.jpg')
  %div.image_large
    = image_tag('logo/2009logo.jpg')
  %div.image_large
    = image_tag('logo/2008logo.jpg')
  %div.image_large
    = image_tag('logo/2007logo.jpg')