%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0851.JPG')
  %div.image= image_tag('gallery/2010/IMG_0950.JPG')
  %div.image= image_tag('gallery/2010/IMG_1400.JPG')
  %div.image= image_tag('gallery/2010/IMG_1923.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2234.JPG')
  %div.image= image_tag('gallery/2010/IMG_2485.JPG')
  %div.image= image_tag('gallery/2010/IMG_2693.JPG')
  %div.image= image_tag('gallery/2010/IMG_2918.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0285.JPG')
  %div.image= image_tag('gallery/2010/IMG_0702.JPG')
  %div.image= image_tag('gallery/2010/IMG_0853.JPG')
  %div.image= image_tag('gallery/2010/IMG_0955.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1402.JPG')
  %div.image= image_tag('gallery/2010/IMG_1925.JPG')
  %div.image= image_tag('gallery/2010/IMG_2246.JPG')
  %div.image= image_tag('gallery/2010/IMG_2487.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2699.JPG')
  %div.image= image_tag('gallery/2010/IMG_2919.JPG')
  %div.image= image_tag('gallery/2010/IMG_0290.JPG')
  %div.image= image_tag('gallery/2010/IMG_0710.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0854.JPG')
  %div.image= image_tag('gallery/2010/IMG_0959.JPG')
  %div.image= image_tag('gallery/2010/IMG_1423.JPG')
  %div.image= image_tag('gallery/2010/IMG_1931.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2247.JPG')
  %div.image= image_tag('gallery/2010/IMG_2491.JPG')
  %div.image= image_tag('gallery/2010/IMG_2705.JPG')
  %div.image= image_tag('gallery/2010/IMG_2921.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0292.JPG')
  %div.image= image_tag('gallery/2010/IMG_0716.JPG')
  %div.image= image_tag('gallery/2010/IMG_0856.JPG')
  %div.image= image_tag('gallery/2010/IMG_0960.JPG')
%div.gallery_link#showdown2010_8
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2010_8'}, remote: true