%div.image_group
  %div.image= image_tag('gallery/2009/_MG_4998.JPG')
  %div.image= image_tag('gallery/2009/_MG_5139.JPG')
  %div.image= image_tag('gallery/2009/_MG_5425.JPG')
  %div.image= image_tag('gallery/2009/_MG_5618.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5770.JPG')
  %div.image= image_tag('gallery/2009/_MG_5822.JPG')
  %div.image= image_tag('gallery/2009/_MG_5943.JPG')
  %div.image= image_tag('gallery/2009/_MG_6026.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6078.JPG')
  %div.image= image_tag('gallery/2009/_MG_4774.JPG')
  %div.image= image_tag('gallery/2009/_MG_5001.JPG')
  %div.image= image_tag('gallery/2009/_MG_5145.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5426.JPG')
  %div.image= image_tag('gallery/2009/_MG_5620.JPG')
  %div.image= image_tag('gallery/2009/_MG_5773.JPG')
  %div.image= image_tag('gallery/2009/_MG_5823.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5946.JPG')
  %div.image= image_tag('gallery/2009/_MG_6035.JPG')
  %div.image= image_tag('gallery/2009/_MG_6083.JPG')
  %div.image= image_tag('gallery/2009/_MG_4785.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5006.JPG')
  %div.image= image_tag('gallery/2009/_MG_5150.JPG')
  %div.image= image_tag('gallery/2009/_MG_5427.JPG')
  %div.image= image_tag('gallery/2009/_MG_5632.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5775.JPG')
  %div.image= image_tag('gallery/2009/_MG_5826.JPG')
  %div.image= image_tag('gallery/2009/_MG_5948.JPG')
  %div.image= image_tag('gallery/2009/_MG_6037.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6092.JPG')
  %div.image= image_tag('gallery/2009/_MG_4794.JPG')
  %div.image= image_tag('gallery/2009/_MG_5008.JPG')
  %div.image= image_tag('gallery/2009/_MG_5171.JPG')
%div.gallery_link#showdown2009_2
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2009_2'}, remote: true