%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2668.JPG')
  %div.image= image_tag('gallery/2010/IMG_2903.JPG')
  %div.image= image_tag('gallery/2010/IMG_0250.JPG')
  %div.image= image_tag('gallery/2010/IMG_0660.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0837.JPG')
  %div.image= image_tag('gallery/2010/IMG_0927.JPG')
  %div.image= image_tag('gallery/2010/IMG_1314.JPG')
  %div.image= image_tag('gallery/2010/IMG_1832.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2169.JPG')
  %div.image= image_tag('gallery/2010/IMG_2454.JPG')
  %div.image= image_tag('gallery/2010/IMG_2670.JPG')
  %div.image= image_tag('gallery/2010/IMG_2905.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0258.JPG')
  %div.image= image_tag('gallery/2010/IMG_0668.JPG')
  %div.image= image_tag('gallery/2010/IMG_0839.JPG')
  %div.image= image_tag('gallery/2010/IMG_0932.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1317.JPG')
  %div.image= image_tag('gallery/2010/IMG_1861.JPG')
  %div.image= image_tag('gallery/2010/IMG_2192.JPG')
  %div.image= image_tag('gallery/2010/IMG_2462.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2675.JPG')
  %div.image= image_tag('gallery/2010/IMG_2907.JPG')
  %div.image= image_tag('gallery/2010/IMG_0264.JPG')
  %div.image= image_tag('gallery/2010/IMG_0672.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0840.JPG')
  %div.image= image_tag('gallery/2010/IMG_0936.JPG')
  %div.image= image_tag('gallery/2010/IMG_1333.JPG')
  %div.image= image_tag('gallery/2010/IMG_1910.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2198.JPG')
  %div.image= image_tag('gallery/2010/IMG_2470.JPG')
  %div.image= image_tag('gallery/2010/IMG_2676.JPG')
  %div.image= image_tag('gallery/2010/IMG_2910.JPG')
%div.gallery_link#showdown2010_6
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2010_6'}, remote: true