%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1239.JPG')
  %div.image= image_tag('gallery/2010/IMG_1692.JPG')
  %div.image= image_tag('gallery/2010/IMG_2073.JPG')
  %div.image= image_tag('gallery/2010/IMG_2377.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2638.JPG')
  %div.image= image_tag('gallery/2010/IMG_2887.JPG')
  %div.image= image_tag('gallery/2010/IMG_0220.JPG')
  %div.image= image_tag('gallery/2010/IMG_0634.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0820.JPG')
  %div.image= image_tag('gallery/2010/IMG_0912.JPG')
  %div.image= image_tag('gallery/2010/IMG_1248.JPG')
  %div.image= image_tag('gallery/2010/IMG_1703.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2086.JPG')
  %div.image= image_tag('gallery/2010/IMG_2384.JPG')
  %div.image= image_tag('gallery/2010/IMG_2645.JPG')
  %div.image= image_tag('gallery/2010/IMG_2889.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0222.JPG')
  %div.image= image_tag('gallery/2010/IMG_0638.JPG')
  %div.image= image_tag('gallery/2010/IMG_0823.JPG')
  %div.image= image_tag('gallery/2010/IMG_0913.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1254.JPG')
  %div.image= image_tag('gallery/2010/IMG_1708.JPG')
  %div.image= image_tag('gallery/2010/IMG_2092.JPG')
  %div.image= image_tag('gallery/2010/IMG_2397.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2647.JPG')
  %div.image= image_tag('gallery/2010/IMG_2891.JPG')
  %div.image= image_tag('gallery/2010/IMG_0227.JPG')
  %div.image= image_tag('gallery/2010/IMG_0640.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0826.JPG')
  %div.image= image_tag('gallery/2010/IMG_0916.JPG')
  %div.image= image_tag('gallery/2010/IMG_1257.JPG')
  %div.image= image_tag('gallery/2010/IMG_1722.JPG')
%div#showdown2010_4
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2010_4'}, remote: true