%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1428.JPG')
  %div.image= image_tag('gallery/2010/IMG_1932.JPG')
  %div.image= image_tag('gallery/2010/IMG_2251.JPG')
  %div.image= image_tag('gallery/2010/IMG_2496.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2707.JPG')
  %div.image= image_tag('gallery/2010/IMG_2923.JPG')
  %div.image= image_tag('gallery/2010/IMG_0294.JPG')
  %div.image= image_tag('gallery/2010/IMG_0721.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0857.JPG')
  %div.image= image_tag('gallery/2010/IMG_0963.JPG')
  %div.image= image_tag('gallery/2010/IMG_1437.JPG')
  %div.image= image_tag('gallery/2010/IMG_1934.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2257.JPG')
  %div.image= image_tag('gallery/2010/IMG_2500.JPG')
  %div.image= image_tag('gallery/2010/IMG_2711.JPG')
  %div.image= image_tag('gallery/2010/IMG_2925.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0299.JPG')
  %div.image= image_tag('gallery/2010/IMG_0723.JPG')
  %div.image= image_tag('gallery/2010/IMG_0860.JPG')
  %div.image= image_tag('gallery/2010/IMG_0964.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1472.JPG')
  %div.image= image_tag('gallery/2010/IMG_1936.JPG')
  %div.image= image_tag('gallery/2010/IMG_2266.JPG')
  %div.image= image_tag('gallery/2010/IMG_2521.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2713.JPG')
  %div.image= image_tag('gallery/2010/IMG_2927.JPG')
  %div.image= image_tag('gallery/2010/IMG_0304.JPG')
  %div.image= image_tag('gallery/2010/IMG_0734.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0862.JPG')
  %div.image= image_tag('gallery/2010/IMG_0968.JPG')
  %div.image= image_tag('gallery/2010/IMG_1489.JPG')
  %div.image= image_tag('gallery/2010/IMG_1937.JPG')
%div.gallery_link#showdown2010_9
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2010_9'}, remote: true