%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5436.JPG')
  %div.image= image_tag('gallery/2009/_MG_5638.JPG')
  %div.image= image_tag('gallery/2009/_MG_5777.JPG')
  %div.image= image_tag('gallery/2009/_MG_5829.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5953.JPG')
  %div.image= image_tag('gallery/2009/_MG_6038.JPG')
  %div.image= image_tag('gallery/2009/_MG_6094.JPG')
  %div.image= image_tag('gallery/2009/_MG_4806.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5014.JPG')
  %div.image= image_tag('gallery/2009/_MG_5186.JPG')
  %div.image= image_tag('gallery/2009/_MG_5444.JPG')
  %div.image= image_tag('gallery/2009/_MG_5644.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5779.JPG')
  %div.image= image_tag('gallery/2009/_MG_5831.JPG')
  %div.image= image_tag('gallery/2009/_MG_5957.JPG')
  %div.image= image_tag('gallery/2009/_MG_6040.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6100.JPG')
  %div.image= image_tag('gallery/2009/_MG_4812.JPG')
  %div.image= image_tag('gallery/2009/_MG_5017.JPG')
  %div.image= image_tag('gallery/2009/_MG_5223.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5448.JPG')
  %div.image= image_tag('gallery/2009/_MG_5651.JPG')
  %div.image= image_tag('gallery/2009/_MG_5782.JPG')
  %div.image= image_tag('gallery/2009/_MG_5832.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5959.JPG')
  %div.image= image_tag('gallery/2009/_MG_6041.JPG')
  %div.image= image_tag('gallery/2009/_MG_6101.JPG')
  %div.image= image_tag('gallery/2009/_MG_4813.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5019.JPG')
  %div.image= image_tag('gallery/2009/_MG_5243.JPG')
  %div.image= image_tag('gallery/2009/_MG_5457.JPG')
  %div.image= image_tag('gallery/2009/_MG_5655.JPG')
%div.gallery_link#showdown2009_3
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2009_3'}, remote: true