%div.image_group
  %div.image= image_tag('gallery/2009/_MG_4998.JPG')
  %div.image= image_tag('gallery/2009/_MG_5139.JPG')
  %div.image= image_tag('gallery/2009/_MG_5425.JPG')
  %div.image= image_tag('gallery/2009/_MG_5618.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5770.JPG')
  %div.image= image_tag('gallery/2009/_MG_5822.JPG')
  %div.image= image_tag('gallery/2009/_MG_5943.JPG')
  %div.image= image_tag('gallery/2009/_MG_6026.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6078.JPG')
  %div.image= image_tag('gallery/2009/_MG_4774.JPG')
  %div.image= image_tag('gallery/2009/_MG_5001.JPG')
  %div.image= image_tag('gallery/2009/_MG_5145.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5426.JPG')
  %div.image= image_tag('gallery/2009/_MG_5620.JPG')
  %div.image= image_tag('gallery/2009/_MG_5773.JPG')
  %div.image= image_tag('gallery/2009/_MG_5823.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5946.JPG')
  %div.image= image_tag('gallery/2009/_MG_6035.JPG')
  %div.image= image_tag('gallery/2009/_MG_6083.JPG')
  %div.image= image_tag('gallery/2009/_MG_4785.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5006.JPG')
  %div.image= image_tag('gallery/2009/_MG_5150.JPG')
  %div.image= image_tag('gallery/2009/_MG_5427.JPG')
  %div.image= image_tag('gallery/2009/_MG_5632.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5775.JPG')
  %div.image= image_tag('gallery/2009/_MG_5826.JPG')
  %div.image= image_tag('gallery/2009/_MG_5948.JPG')
  %div.image= image_tag('gallery/2009/_MG_6037.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6092.JPG')
  %div.image= image_tag('gallery/2009/_MG_4794.JPG')
  %div.image= image_tag('gallery/2009/_MG_5008.JPG')
  %div.image= image_tag('gallery/2009/_MG_5171.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5436.JPG')
  %div.image= image_tag('gallery/2009/_MG_5638.JPG')
  %div.image= image_tag('gallery/2009/_MG_5777.JPG')
  %div.image= image_tag('gallery/2009/_MG_5829.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5953.JPG')
  %div.image= image_tag('gallery/2009/_MG_6038.JPG')
  %div.image= image_tag('gallery/2009/_MG_6094.JPG')
  %div.image= image_tag('gallery/2009/_MG_4806.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5014.JPG')
  %div.image= image_tag('gallery/2009/_MG_5186.JPG')
  %div.image= image_tag('gallery/2009/_MG_5444.JPG')
  %div.image= image_tag('gallery/2009/_MG_5644.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5779.JPG')
  %div.image= image_tag('gallery/2009/_MG_5831.JPG')
  %div.image= image_tag('gallery/2009/_MG_5957.JPG')
  %div.image= image_tag('gallery/2009/_MG_6040.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6100.JPG')
  %div.image= image_tag('gallery/2009/_MG_4812.JPG')
  %div.image= image_tag('gallery/2009/_MG_5017.JPG')
  %div.image= image_tag('gallery/2009/_MG_5223.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5448.JPG')
  %div.image= image_tag('gallery/2009/_MG_5651.JPG')
  %div.image= image_tag('gallery/2009/_MG_5782.JPG')
  %div.image= image_tag('gallery/2009/_MG_5832.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5959.JPG')
  %div.image= image_tag('gallery/2009/_MG_6041.JPG')
  %div.image= image_tag('gallery/2009/_MG_6101.JPG')
  %div.image= image_tag('gallery/2009/_MG_4813.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5019.JPG')
  %div.image= image_tag('gallery/2009/_MG_5243.JPG')
  %div.image= image_tag('gallery/2009/_MG_5457.JPG')
  %div.image= image_tag('gallery/2009/_MG_5655.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5784.JPG')
  %div.image= image_tag('gallery/2009/_MG_5833.JPG')
  %div.image= image_tag('gallery/2009/_MG_5960.JPG')
  %div.image= image_tag('gallery/2009/_MG_6042.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6103.JPG')
  %div.image= image_tag('gallery/2009/_MG_4815.JPG')
  %div.image= image_tag('gallery/2009/_MG_5021.JPG')
  %div.image= image_tag('gallery/2009/_MG_5244.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5459.JPG')
  %div.image= image_tag('gallery/2009/_MG_5667.JPG')
  %div.image= image_tag('gallery/2009/_MG_5787.JPG')
  %div.image= image_tag('gallery/2009/_MG_5838.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5965.JPG')
  %div.image= image_tag('gallery/2009/_MG_6043.JPG')
  %div.image= image_tag('gallery/2009/_MG_6106.JPG')
  %div.image= image_tag('gallery/2009/_MG_4819.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5024.JPG')
  %div.image= image_tag('gallery/2009/_MG_5248.JPG')
  %div.image= image_tag('gallery/2009/_MG_5492.JPG')
  %div.image= image_tag('gallery/2009/_MG_5682.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5789.JPG')
  %div.image= image_tag('gallery/2009/_MG_5840.JPG')
  %div.image= image_tag('gallery/2009/_MG_5966.JPG')
  %div.image= image_tag('gallery/2009/_MG_6044.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6107.JPG')
  %div.image= image_tag('gallery/2009/_MG_4825.JPG')
  %div.image= image_tag('gallery/2009/_MG_5061.JPG')
  %div.image= image_tag('gallery/2009/_MG_5249.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5499.JPG')
  %div.image= image_tag('gallery/2009/_MG_5685.JPG')
  %div.image= image_tag('gallery/2009/_MG_5791.JPG')
  %div.image= image_tag('gallery/2009/_MG_5842.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5977.JPG')
  %div.image= image_tag('gallery/2009/_MG_6045.JPG')
  %div.image= image_tag('gallery/2009/_MG_6108.JPG')
  %div.image= image_tag('gallery/2009/_MG_4832.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5082.JPG')
  %div.image= image_tag('gallery/2009/_MG_5252.JPG')
  %div.image= image_tag('gallery/2009/_MG_5510.JPG')
  %div.image= image_tag('gallery/2009/_MG_5688.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5793.JPG')
  %div.image= image_tag('gallery/2009/_MG_5843.JPG')
  %div.image= image_tag('gallery/2009/_MG_5979.JPG')
  %div.image= image_tag('gallery/2009/_MG_6046.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6111.JPG')
  %div.image= image_tag('gallery/2009/_MG_4862.JPG')
  %div.image= image_tag('gallery/2009/_MG_5083.JPG')
  %div.image= image_tag('gallery/2009/_MG_5253.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5554.JPG')
  %div.image= image_tag('gallery/2009/_MG_5702.JPG')
  %div.image= image_tag('gallery/2009/_MG_5795.JPG')
  %div.image= image_tag('gallery/2009/_MG_5847.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5981.JPG')
  %div.image= image_tag('gallery/2009/_MG_6048.JPG')
  %div.image= image_tag('gallery/2009/_MG_6114.JPG')
  %div.image= image_tag('gallery/2009/_MG_4876.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5084.JPG')
  %div.image= image_tag('gallery/2009/_MG_5269.JPG')
  %div.image= image_tag('gallery/2009/_MG_5564.JPG')
  %div.image= image_tag('gallery/2009/_MG_5704.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5797.JPG')
  %div.image= image_tag('gallery/2009/_MG_5848.JPG')
  %div.image= image_tag('gallery/2009/_MG_5985.JPG')
  %div.image= image_tag('gallery/2009/_MG_6051.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6115.JPG')
  %div.image= image_tag('gallery/2009/_MG_4925.JPG')
  %div.image= image_tag('gallery/2009/_MG_5089.JPG')
  %div.image= image_tag('gallery/2009/_MG_5276.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5566.JPG')
  %div.image= image_tag('gallery/2009/_MG_5726.JPG')
  %div.image= image_tag('gallery/2009/_MG_5800.JPG')
  %div.image= image_tag('gallery/2009/_MG_5901.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5986.JPG')
  %div.image= image_tag('gallery/2009/_MG_6052.JPG')
  %div.image= image_tag('gallery/2009/_MG_6124.JPG')
  %div.image= image_tag('gallery/2009/_MG_4930.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5092.JPG')
  %div.image= image_tag('gallery/2009/_MG_5279.JPG')
  %div.image= image_tag('gallery/2009/_MG_5569.JPG')
  %div.image= image_tag('gallery/2009/_MG_5753.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5802.JPG')
  %div.image= image_tag('gallery/2009/_MG_5902.JPG')
  %div.image= image_tag('gallery/2009/_MG_5989.JPG')
  %div.image= image_tag('gallery/2009/_MG_6053.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6127.JPG')
  %div.image= image_tag('gallery/2009/_MG_4935.JPG')
  %div.image= image_tag('gallery/2009/_MG_5093.JPG')
  %div.image= image_tag('gallery/2009/_MG_5299.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5573.JPG')
  %div.image= image_tag('gallery/2009/_MG_5754.JPG')
  %div.image= image_tag('gallery/2009/_MG_5804.JPG')
  %div.image= image_tag('gallery/2009/_MG_5909.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5991.JPG')
  %div.image= image_tag('gallery/2009/_MG_6055.JPG')
  %div.image= image_tag('gallery/2009/_MG_6128.JPG')
  %div.image= image_tag('gallery/2009/_MG_4949.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5094.JPG')
  %div.image= image_tag('gallery/2009/_MG_5301.JPG')
  %div.image= image_tag('gallery/2009/_MG_5579.JPG')
  %div.image= image_tag('gallery/2009/_MG_5756.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5808.JPG')
  %div.image= image_tag('gallery/2009/_MG_5912.JPG')
  %div.image= image_tag('gallery/2009/_MG_5995.JPG')
  %div.image= image_tag('gallery/2009/_MG_6059.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6130.JPG')
  %div.image= image_tag('gallery/2009/_MG_4950.JPG')
  %div.image= image_tag('gallery/2009/_MG_5095.JPG')
  %div.image= image_tag('gallery/2009/_MG_5321.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5588.JPG')
  %div.image= image_tag('gallery/2009/_MG_5758.JPG')
  %div.image= image_tag('gallery/2009/_MG_5809.JPG')
  %div.image= image_tag('gallery/2009/_MG_5920.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5998.JPG')
  %div.image= image_tag('gallery/2009/_MG_6060.JPG')
  %div.image= image_tag('gallery/2009/_MG_6132.JPG')
  %div.image= image_tag('gallery/2009/_MG_4954.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5101.JPG')
  %div.image= image_tag('gallery/2009/_MG_5322.JPG')
  %div.image= image_tag('gallery/2009/_MG_5594.JPG')
  %div.image= image_tag('gallery/2009/_MG_5761.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5811.JPG')
  %div.image= image_tag('gallery/2009/_MG_5923.JPG')
  %div.image= image_tag('gallery/2009/_MG_6000.JPG')
  %div.image= image_tag('gallery/2009/_MG_6063.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6134.JPG')
  %div.image= image_tag('gallery/2009/_MG_4961.JPG')
  %div.image= image_tag('gallery/2009/_MG_5104.JPG')
  %div.image= image_tag('gallery/2009/_MG_5323.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5596.JPG')
  %div.image= image_tag('gallery/2009/_MG_5762.JPG')
  %div.image= image_tag('gallery/2009/_MG_5814.JPG')
  %div.image= image_tag('gallery/2009/_MG_5924.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6003.JPG')
  %div.image= image_tag('gallery/2009/_MG_6069.JPG')
  %div.image= image_tag('gallery/2009/_MG_6137.JPG')
  %div.image= image_tag('gallery/2009/_MG_4969.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5105.JPG')
  %div.image= image_tag('gallery/2009/_MG_5324.JPG')
  %div.image= image_tag('gallery/2009/_MG_5598.JPG')
  %div.image= image_tag('gallery/2009/_MG_5764.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5815.JPG')
  %div.image= image_tag('gallery/2009/_MG_5925.JPG')
  %div.image= image_tag('gallery/2009/_MG_6006.JPG')
  %div.image= image_tag('gallery/2009/_MG_6070.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6139.JPG')
  %div.image= image_tag('gallery/2009/_MG_4970.JPG')
  %div.image= image_tag('gallery/2009/_MG_5106.JPG')
  %div.image= image_tag('gallery/2009/_MG_5327.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5607.JPG')
  %div.image= image_tag('gallery/2009/_MG_5765.JPG')
  %div.image= image_tag('gallery/2009/_MG_5816.JPG')
  %div.image= image_tag('gallery/2009/_MG_5927.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6010.JPG')
  %div.image= image_tag('gallery/2009/_MG_6071.JPG')
  %div.image= image_tag('gallery/2009/_MG_6142.JPG')
  %div.image= image_tag('gallery/2009/_MG_4972.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5131.JPG')
  %div.image= image_tag('gallery/2009/_MG_5346.JPG')
  %div.image= image_tag('gallery/2009/_MG_5609.JPG')
  %div.image= image_tag('gallery/2009/_MG_5766.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5818.JPG')
  %div.image= image_tag('gallery/2009/_MG_5929.JPG')
  %div.image= image_tag('gallery/2009/_MG_6012.JPG')
  %div.image= image_tag('gallery/2009/_MG_6073.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6146.JPG')
  %div.image= image_tag('gallery/2009/_MG_4974.JPG')
  %div.image= image_tag('gallery/2009/_MG_5136.JPG')
  %div.image= image_tag('gallery/2009/_MG_5419.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5611.JPG')
  %div.image= image_tag('gallery/2009/_MG_5768.JPG')
  %div.image= image_tag('gallery/2009/_MG_5821.JPG')
  %div.image= image_tag('gallery/2009/_MG_5932.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6019.JPG')
  %div.image= image_tag('gallery/2009/_MG_6077.JPG')