%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6115.JPG')
  %div.image= image_tag('gallery/2009/_MG_4925.JPG')
  %div.image= image_tag('gallery/2009/_MG_5089.JPG')
  %div.image= image_tag('gallery/2009/_MG_5276.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5566.JPG')
  %div.image= image_tag('gallery/2009/_MG_5726.JPG')
  %div.image= image_tag('gallery/2009/_MG_5800.JPG')
  %div.image= image_tag('gallery/2009/_MG_5901.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5986.JPG')
  %div.image= image_tag('gallery/2009/_MG_6052.JPG')
  %div.image= image_tag('gallery/2009/_MG_6124.JPG')
  %div.image= image_tag('gallery/2009/_MG_4930.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5092.JPG')
  %div.image= image_tag('gallery/2009/_MG_5279.JPG')
  %div.image= image_tag('gallery/2009/_MG_5569.JPG')
  %div.image= image_tag('gallery/2009/_MG_5753.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5802.JPG')
  %div.image= image_tag('gallery/2009/_MG_5902.JPG')
  %div.image= image_tag('gallery/2009/_MG_5989.JPG')
  %div.image= image_tag('gallery/2009/_MG_6053.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6127.JPG')
  %div.image= image_tag('gallery/2009/_MG_4935.JPG')
  %div.image= image_tag('gallery/2009/_MG_5093.JPG')
  %div.image= image_tag('gallery/2009/_MG_5299.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5573.JPG')
  %div.image= image_tag('gallery/2009/_MG_5754.JPG')
  %div.image= image_tag('gallery/2009/_MG_5804.JPG')
  %div.image= image_tag('gallery/2009/_MG_5909.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5991.JPG')
  %div.image= image_tag('gallery/2009/_MG_6055.JPG')
  %div.image= image_tag('gallery/2009/_MG_6128.JPG')
  %div.image= image_tag('gallery/2009/_MG_4949.JPG')
%div.gallery_link#showdown2009_6
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2009_6'}, remote: true