%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0266.JPG')
  %div.image= image_tag('gallery/2010/IMG_0673.JPG')
  %div.image= image_tag('gallery/2010/IMG_0843.JPG')
  %div.image= image_tag('gallery/2010/IMG_0938.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1337.JPG')
  %div.image= image_tag('gallery/2010/IMG_1911.JPG')
  %div.image= image_tag('gallery/2010/IMG_2208.JPG')
  %div.image= image_tag('gallery/2010/IMG_2476.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2682.JPG')
  %div.image= image_tag('gallery/2010/IMG_2912.JPG')
  %div.image= image_tag('gallery/2010/IMG_0267.JPG')
  %div.image= image_tag('gallery/2010/IMG_0678.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0845.JPG')
  %div.image= image_tag('gallery/2010/IMG_0941.JPG')
  %div.image= image_tag('gallery/2010/IMG_1383.JPG')
  %div.image= image_tag('gallery/2010/IMG_1918.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2224.JPG')
  %div.image= image_tag('gallery/2010/IMG_2479.JPG')
  %div.image= image_tag('gallery/2010/IMG_2686.JPG')
  %div.image= image_tag('gallery/2010/IMG_2914.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0272.JPG')
  %div.image= image_tag('gallery/2010/IMG_0685.JPG')
  %div.image= image_tag('gallery/2010/IMG_0849.JPG')
  %div.image= image_tag('gallery/2010/IMG_0946.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1386.JPG')
  %div.image= image_tag('gallery/2010/IMG_1920.JPG')
  %div.image= image_tag('gallery/2010/IMG_2232.JPG')
  %div.image= image_tag('gallery/2010/IMG_2482.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2692.JPG')
  %div.image= image_tag('gallery/2010/IMG_2916.JPG')
  %div.image= image_tag('gallery/2010/IMG_0276.JPG')
  %div.image= image_tag('gallery/2010/IMG_0701.JPG')
%div.gallery_link#showdown2010_7
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2010_7'}, remote: true