%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2000.JPG')
  %div.image= image_tag('gallery/2010/IMG_2296.JPG')
  %div.image= image_tag('gallery/2010/IMG_2564.JPG')
  %div.image= image_tag('gallery/2010/IMG_2786.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0521.JPG')
  %div.image= image_tag('gallery/2010/IMG_0790.JPG')
  %div.image= image_tag('gallery/2010/IMG_0891.JPG')
  %div.image= image_tag('gallery/2010/IMG_1033.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1530.JPG')
  %div.image= image_tag('gallery/2010/IMG_2008.JPG')
  %div.image= image_tag('gallery/2010/IMG_2306.JPG')
  %div.image= image_tag('gallery/2010/IMG_2584.JPG')