%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0463.JPG')
  %div.image= image_tag('gallery/2010/IMG_0758.JPG')
  %div.image= image_tag('gallery/2010/IMG_0873.JPG')
  %div.image= image_tag('gallery/2010/IMG_1000.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1513.JPG')
  %div.image= image_tag('gallery/2010/IMG_1971.JPG')
  %div.image= image_tag('gallery/2010/IMG_2282.JPG')
  %div.image= image_tag('gallery/2010/IMG_2550.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2760.JPG')
  %div.image= image_tag('gallery/2010/IMG_0475.JPG')
  %div.image= image_tag('gallery/2010/IMG_0761.JPG')
  %div.image= image_tag('gallery/2010/IMG_0876.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1004.JPG')
  %div.image= image_tag('gallery/2010/IMG_1516.JPG')
  %div.image= image_tag('gallery/2010/IMG_1989.JPG')
  %div.image= image_tag('gallery/2010/IMG_2288.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2560.JPG')
  %div.image= image_tag('gallery/2010/IMG_2764.JPG')
  %div.image= image_tag('gallery/2010/IMG_0503.JPG')
  %div.image= image_tag('gallery/2010/IMG_0769.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0879.JPG')
  %div.image= image_tag('gallery/2010/IMG_1010.JPG')
  %div.image= image_tag('gallery/2010/IMG_1521.JPG')
  %div.image= image_tag('gallery/2010/IMG_1990.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2293.JPG')
  %div.image= image_tag('gallery/2010/IMG_2561.JPG')
  %div.image= image_tag('gallery/2010/IMG_2781.JPG')
  %div.image= image_tag('gallery/2010/IMG_0519.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0780.JPG')
  %div.image= image_tag('gallery/2010/IMG_0890.JPG')
  %div.image= image_tag('gallery/2010/IMG_1019.JPG')
  %div.image= image_tag('gallery/2010/IMG_1528.JPG')
%div#showdown2010_11
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2010_11'}, remote: true