%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5596.JPG')
  %div.image= image_tag('gallery/2009/_MG_5762.JPG')
  %div.image= image_tag('gallery/2009/_MG_5814.JPG')
  %div.image= image_tag('gallery/2009/_MG_5924.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6003.JPG')
  %div.image= image_tag('gallery/2009/_MG_6069.JPG')
  %div.image= image_tag('gallery/2009/_MG_6137.JPG')
  %div.image= image_tag('gallery/2009/_MG_4969.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5105.JPG')
  %div.image= image_tag('gallery/2009/_MG_5324.JPG')
  %div.image= image_tag('gallery/2009/_MG_5598.JPG')
  %div.image= image_tag('gallery/2009/_MG_5764.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5815.JPG')
  %div.image= image_tag('gallery/2009/_MG_5925.JPG')
  %div.image= image_tag('gallery/2009/_MG_6006.JPG')
  %div.image= image_tag('gallery/2009/_MG_6070.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6139.JPG')
  %div.image= image_tag('gallery/2009/_MG_4970.JPG')
  %div.image= image_tag('gallery/2009/_MG_5106.JPG')
  %div.image= image_tag('gallery/2009/_MG_5327.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5607.JPG')
  %div.image= image_tag('gallery/2009/_MG_5765.JPG')
  %div.image= image_tag('gallery/2009/_MG_5816.JPG')
  %div.image= image_tag('gallery/2009/_MG_5927.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6010.JPG')
  %div.image= image_tag('gallery/2009/_MG_6071.JPG')
  %div.image= image_tag('gallery/2009/_MG_6142.JPG')
  %div.image= image_tag('gallery/2009/_MG_4972.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5131.JPG')
  %div.image= image_tag('gallery/2009/_MG_5346.JPG')
  %div.image= image_tag('gallery/2009/_MG_5609.JPG')
  %div.image= image_tag('gallery/2009/_MG_5766.JPG')
%div.gallery_link#showdown2009_8
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2009_8'}, remote: true