%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5977.JPG')
  %div.image= image_tag('gallery/2009/_MG_6045.JPG')
  %div.image= image_tag('gallery/2009/_MG_6108.JPG')
  %div.image= image_tag('gallery/2009/_MG_4832.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5082.JPG')
  %div.image= image_tag('gallery/2009/_MG_5252.JPG')
  %div.image= image_tag('gallery/2009/_MG_5510.JPG')
  %div.image= image_tag('gallery/2009/_MG_5688.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5793.JPG')
  %div.image= image_tag('gallery/2009/_MG_5843.JPG')
  %div.image= image_tag('gallery/2009/_MG_5979.JPG')
  %div.image= image_tag('gallery/2009/_MG_6046.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6111.JPG')
  %div.image= image_tag('gallery/2009/_MG_4862.JPG')
  %div.image= image_tag('gallery/2009/_MG_5083.JPG')
  %div.image= image_tag('gallery/2009/_MG_5253.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5554.JPG')
  %div.image= image_tag('gallery/2009/_MG_5702.JPG')
  %div.image= image_tag('gallery/2009/_MG_5795.JPG')
  %div.image= image_tag('gallery/2009/_MG_5847.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5981.JPG')
  %div.image= image_tag('gallery/2009/_MG_6048.JPG')
  %div.image= image_tag('gallery/2009/_MG_6114.JPG')
  %div.image= image_tag('gallery/2009/_MG_4876.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5084.JPG')
  %div.image= image_tag('gallery/2009/_MG_5269.JPG')
  %div.image= image_tag('gallery/2009/_MG_5564.JPG')
  %div.image= image_tag('gallery/2009/_MG_5704.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5797.JPG')
  %div.image= image_tag('gallery/2009/_MG_5848.JPG')
  %div.image= image_tag('gallery/2009/_MG_5985.JPG')
  %div.image= image_tag('gallery/2009/_MG_6051.JPG')
%div.gallery_link#showdown2009_5
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2009_5'}, remote: true