%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5784.JPG')
  %div.image= image_tag('gallery/2009/_MG_5833.JPG')
  %div.image= image_tag('gallery/2009/_MG_5960.JPG')
  %div.image= image_tag('gallery/2009/_MG_6042.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6103.JPG')
  %div.image= image_tag('gallery/2009/_MG_4815.JPG')
  %div.image= image_tag('gallery/2009/_MG_5021.JPG')
  %div.image= image_tag('gallery/2009/_MG_5244.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5459.JPG')
  %div.image= image_tag('gallery/2009/_MG_5667.JPG')
  %div.image= image_tag('gallery/2009/_MG_5787.JPG')
  %div.image= image_tag('gallery/2009/_MG_5838.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5965.JPG')
  %div.image= image_tag('gallery/2009/_MG_6043.JPG')
  %div.image= image_tag('gallery/2009/_MG_6106.JPG')
  %div.image= image_tag('gallery/2009/_MG_4819.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5024.JPG')
  %div.image= image_tag('gallery/2009/_MG_5248.JPG')
  %div.image= image_tag('gallery/2009/_MG_5492.JPG')
  %div.image= image_tag('gallery/2009/_MG_5682.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5789.JPG')
  %div.image= image_tag('gallery/2009/_MG_5840.JPG')
  %div.image= image_tag('gallery/2009/_MG_5966.JPG')
  %div.image= image_tag('gallery/2009/_MG_6044.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6107.JPG')
  %div.image= image_tag('gallery/2009/_MG_4825.JPG')
  %div.image= image_tag('gallery/2009/_MG_5061.JPG')
  %div.image= image_tag('gallery/2009/_MG_5249.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5499.JPG')
  %div.image= image_tag('gallery/2009/_MG_5685.JPG')
  %div.image= image_tag('gallery/2009/_MG_5791.JPG')
  %div.image= image_tag('gallery/2009/_MG_5842.JPG')
%div.gallery_link#showdown2009_4
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2009_4'}, remote: true