%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0813.JPG')
  %div.image= image_tag('gallery/2010/IMG_0904.JPG')
  %div.image= image_tag('gallery/2010/IMG_1147.JPG')
  %div.image= image_tag('gallery/2010/IMG_1632.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2039.JPG')
  %div.image= image_tag('gallery/2010/IMG_2352.JPG')
  %div.image= image_tag('gallery/2010/IMG_2621.JPG')
  %div.image= image_tag('gallery/2010/IMG_2878.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0212.JPG')
  %div.image= image_tag('gallery/2010/IMG_0608.JPG')
  %div.image= image_tag('gallery/2010/IMG_0815.JPG')
  %div.image= image_tag('gallery/2010/IMG_0906.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1154.JPG')
  %div.image= image_tag('gallery/2010/IMG_1645.JPG')
  %div.image= image_tag('gallery/2010/IMG_2045.JPG')
  %div.image= image_tag('gallery/2010/IMG_2360.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2629.JPG')
  %div.image= image_tag('gallery/2010/IMG_2879.JPG')
  %div.image= image_tag('gallery/2010/IMG_0213.JPG')
  %div.image= image_tag('gallery/2010/IMG_0612.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0816.JPG')
  %div.image= image_tag('gallery/2010/IMG_0908.JPG')
  %div.image= image_tag('gallery/2010/IMG_1159.JPG')
  %div.image= image_tag('gallery/2010/IMG_1682.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2050.JPG')
  %div.image= image_tag('gallery/2010/IMG_2364.JPG')
  %div.image= image_tag('gallery/2010/IMG_2636.JPG')
  %div.image= image_tag('gallery/2010/IMG_2880.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0217.JPG')
  %div.image= image_tag('gallery/2010/IMG_0623.JPG')
  %div.image= image_tag('gallery/2010/IMG_0817.JPG')
  %div.image= image_tag('gallery/2010/IMG_0909.JPG')
%div#showdown2010_3
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2010_3'}, remote: true