%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5818.JPG')
  %div.image= image_tag('gallery/2009/_MG_5929.JPG')
  %div.image= image_tag('gallery/2009/_MG_6012.JPG')
  %div.image= image_tag('gallery/2009/_MG_6073.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6146.JPG')
  %div.image= image_tag('gallery/2009/_MG_4974.JPG')
  %div.image= image_tag('gallery/2009/_MG_5136.JPG')
  %div.image= image_tag('gallery/2009/_MG_5419.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5611.JPG')
  %div.image= image_tag('gallery/2009/_MG_5768.JPG')
  %div.image= image_tag('gallery/2009/_MG_5821.JPG')
  %div.image= image_tag('gallery/2009/_MG_5932.JPG')