%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5094.JPG')
  %div.image= image_tag('gallery/2009/_MG_5301.JPG')
  %div.image= image_tag('gallery/2009/_MG_5579.JPG')
  %div.image= image_tag('gallery/2009/_MG_5756.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5808.JPG')
  %div.image= image_tag('gallery/2009/_MG_5912.JPG')
  %div.image= image_tag('gallery/2009/_MG_5995.JPG')
  %div.image= image_tag('gallery/2009/_MG_6059.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6130.JPG')
  %div.image= image_tag('gallery/2009/_MG_4950.JPG')
  %div.image= image_tag('gallery/2009/_MG_5095.JPG')
  %div.image= image_tag('gallery/2009/_MG_5321.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5588.JPG')
  %div.image= image_tag('gallery/2009/_MG_5758.JPG')
  %div.image= image_tag('gallery/2009/_MG_5809.JPG')
  %div.image= image_tag('gallery/2009/_MG_5920.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5998.JPG')
  %div.image= image_tag('gallery/2009/_MG_6060.JPG')
  %div.image= image_tag('gallery/2009/_MG_6132.JPG')
  %div.image= image_tag('gallery/2009/_MG_4954.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5101.JPG')
  %div.image= image_tag('gallery/2009/_MG_5322.JPG')
  %div.image= image_tag('gallery/2009/_MG_5594.JPG')
  %div.image= image_tag('gallery/2009/_MG_5761.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_5811.JPG')
  %div.image= image_tag('gallery/2009/_MG_5923.JPG')
  %div.image= image_tag('gallery/2009/_MG_6000.JPG')
  %div.image= image_tag('gallery/2009/_MG_6063.JPG')
%div.image_group
  %div.image= image_tag('gallery/2009/_MG_6134.JPG')
  %div.image= image_tag('gallery/2009/_MG_4961.JPG')
  %div.image= image_tag('gallery/2009/_MG_5104.JPG')
  %div.image= image_tag('gallery/2009/_MG_5323.JPG')
%div.gallery_link#showdown2009_7
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2009_7'}, remote: true