%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0203.JPG')
  %div.image= image_tag('gallery/2010/IMG_0526.JPG')
  %div.image= image_tag('gallery/2010/IMG_0792.JPG')
  %div.image= image_tag('gallery/2010/IMG_0896.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1088.JPG')
  %div.image= image_tag('gallery/2010/IMG_1544.JPG')
  %div.image= image_tag('gallery/2010/IMG_2017.JPG')
  %div.image= image_tag('gallery/2010/IMG_2326.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2595.JPG')
  %div.image= image_tag('gallery/2010/IMG_2793.JPG')
  %div.image= image_tag('gallery/2010/IMG_0206.JPG')
  %div.image= image_tag('gallery/2010/IMG_0549.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0793.JPG')
  %div.image= image_tag('gallery/2010/IMG_0900.JPG')
  %div.image= image_tag('gallery/2010/IMG_1106.JPG')
  %div.image= image_tag('gallery/2010/IMG_1559.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2031.JPG')
  %div.image= image_tag('gallery/2010/IMG_2334.JPG')
  %div.image= image_tag('gallery/2010/IMG_2601.JPG')
  %div.image= image_tag('gallery/2010/IMG_2807.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0209.JPG')
  %div.image= image_tag('gallery/2010/IMG_0550.JPG')
  %div.image= image_tag('gallery/2010/IMG_0811.JPG')
  %div.image= image_tag('gallery/2010/IMG_0902.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1127.JPG')
  %div.image= image_tag('gallery/2010/IMG_1621.JPG')
  %div.image= image_tag('gallery/2010/IMG_2036.JPG')
  %div.image= image_tag('gallery/2010/IMG_2347.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2613.JPG')
  %div.image= image_tag('gallery/2010/IMG_2829.JPG')
  %div.image= image_tag('gallery/2010/IMG_0210.JPG')
  %div.image= image_tag('gallery/2010/IMG_0573.JPG')
%div.gallery_link#showdown2010_2
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2010_2'}, remote: true