%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2100.JPG')
  %div.image= image_tag('gallery/2010/IMG_2410.JPG')
  %div.image= image_tag('gallery/2010/IMG_2653.JPG')
  %div.image= image_tag('gallery/2010/IMG_2895.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0234.JPG')
  %div.image= image_tag('gallery/2010/IMG_0645.JPG')
  %div.image= image_tag('gallery/2010/IMG_0827.JPG')
  %div.image= image_tag('gallery/2010/IMG_0918.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1263.JPG')
  %div.image= image_tag('gallery/2010/IMG_1736.JPG')
  %div.image= image_tag('gallery/2010/IMG_2132.JPG')
  %div.image= image_tag('gallery/2010/IMG_2415.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2659.JPG')
  %div.image= image_tag('gallery/2010/IMG_2899.JPG')
  %div.image= image_tag('gallery/2010/IMG_0236.JPG')
  %div.image= image_tag('gallery/2010/IMG_0648.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0832.JPG')
  %div.image= image_tag('gallery/2010/IMG_0920.JPG')
  %div.image= image_tag('gallery/2010/IMG_1269.JPG')
  %div.image= image_tag('gallery/2010/IMG_1792.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2135.JPG')
  %div.image= image_tag('gallery/2010/IMG_2438.JPG')
  %div.image= image_tag('gallery/2010/IMG_2662.JPG')
  %div.image= image_tag('gallery/2010/IMG_2902.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0242.JPG')
  %div.image= image_tag('gallery/2010/IMG_0657.JPG')
  %div.image= image_tag('gallery/2010/IMG_0834.JPG')
  %div.image= image_tag('gallery/2010/IMG_0924.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1276.JPG')
  %div.image= image_tag('gallery/2010/IMG_1809.JPG')
  %div.image= image_tag('gallery/2010/IMG_2139.JPG')
  %div.image= image_tag('gallery/2010/IMG_2448.JPG')
%div#showdown2010_5
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2010_5'}, remote: true