%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2270.JPG')
  %div.image= image_tag('gallery/2010/IMG_2529.JPG')
  %div.image= image_tag('gallery/2010/IMG_2715.JPG')
  %div.image= image_tag('gallery/2010/IMG_2928.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0317.JPG')
  %div.image= image_tag('gallery/2010/IMG_0745.JPG')
  %div.image= image_tag('gallery/2010/IMG_0864.JPG')
  %div.image= image_tag('gallery/2010/IMG_0973.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1492.JPG')
  %div.image= image_tag('gallery/2010/IMG_1942.JPG')
  %div.image= image_tag('gallery/2010/IMG_2272.JPG')
  %div.image= image_tag('gallery/2010/IMG_2542.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2729.JPG')
  %div.image= image_tag('gallery/2010/IMG_2930.JPG')
  %div.image= image_tag('gallery/2010/IMG_0327.JPG')
  %div.image= image_tag('gallery/2010/IMG_0748.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0869.JPG')
  %div.image= image_tag('gallery/2010/IMG_0977.JPG')
  %div.image= image_tag('gallery/2010/IMG_1502.JPG')
  %div.image= image_tag('gallery/2010/IMG_1959.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_2274.JPG')
  %div.image= image_tag('gallery/2010/IMG_2544.JPG')
  %div.image= image_tag('gallery/2010/IMG_2736.JPG')
  %div.image= image_tag('gallery/2010/IMG_0444.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_0755.JPG')
  %div.image= image_tag('gallery/2010/IMG_0871.JPG')
  %div.image= image_tag('gallery/2010/IMG_0983.JPG')
  %div.image= image_tag('gallery/2010/IMG_1510.JPG')
%div.image_group
  %div.image= image_tag('gallery/2010/IMG_1965.JPG')
  %div.image= image_tag('gallery/2010/IMG_2279.JPG')
  %div.image= image_tag('gallery/2010/IMG_2548.JPG')
  %div.image= image_tag('gallery/2010/IMG_2754.JPG')
%div.gallery_link#showdown2010_10
  = link_to "Show More", {controller: 'gallery', action: 'showdown_2010_10'}, remote: true