.head
  .top_banner
    .text_space 
      = render partial: 'shared/navigation'
    .wide_banner
.content
  .right_space
    .announcement_title
      = image_tag('menu_title_about.jpg')
    .announcement_list
      = render partial: 'menu'
  .left_space
    .title
      = @content_about.title
    .context
      =raw @content_about.content
= render partial: 'shared/footer'