= form_for @content_partner do |f|
  -if @content_partner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@content_partner.errors.count, "error")} prohibited this content_partner from being saved:"
      %ul
        - @content_partner.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.cktext_area :content
  .field
    = f.check_box :clickable
    = "Check the box if you want to display the Title in the Menu as a Link"
  .actions
    = f.submit 'Save'
